<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- context 스키마가 있어야한다. 하단에 Namespaces 탭에서 context라는 스키마를 추가하자
	
	 -->
	 <!-- Annotation 도 인식을 해서 bean 을 관리하라고 설정  -->
	 <context:component-scan base-package="com.greedy.section02.xmlconfig">
	 	<context:exclude-filter type="assignable" expression="com.greedy.section02.xmlconfig.MemberDAO"/>
	 </context:component-scan>
	
</beans>
